/* general */
:root {
	--color-bg-nav: #2c3e50;
	--color-bg-odd: #1abc9c;
	--color-bg-footer: #3a546d;
	--color-text-black: #333333;
	--color-text-main: #ffffff;
    --color-transparency: rgba(255, 255, 255, 0);
}
/* header */
header {
    height: 90px;
    background-color: var(--color-bg-nav);
}
/* main */
.odd {
    background-color: var(--color-bg-odd);
}
main #hero>div img {
    width: 250px;
}
#portfolio .fa-plus {
    color: var(--color-transparency);
    font-size: 4rem;
    font-weight: bolder;
}
#portfolio .card:hover .fa-plus {
    color: var(--color-text-main);
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
#portfolio .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-transparency);
}
#portfolio .card:hover::before {
    content: "";
    background-color: #1abc9c91;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}